@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: white;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
 
.modification{
    top:0px;
    width: 100%;
    z-index: 1;
    position:fixed;
    overflow: auto;
    list-style-type:none;  /* This is used to remove the bulletins */
    margin:0;
    padding-left: 10px;     /* used to cover the space in in the given direction */
    background-color:black; 
    color:white;
    /* top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    margin:0;
    overflow:auto;
    font-family: 'Poppins', sans-serif; */
    
}
.modification li{
    float: left;
    padding: 15px;
}
.modification li a{
    color: white;
    text-decoration: none;
    padding: 15px; 
}

.modification li a:hover{
    background-color: whitesmoke;
    color: black;
}
.landing_image{
    width: 100%;
    height: 100%;
}
.landing_page{
    position: relative;
}
.landing_page p{
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%); /* shift center to the middle of the text */
    left: 50%; /* shifts the text from its changed center to given percentager */
    color: white;
    font-size: 50px;
}

#Band h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;    
    font-size: 50px;
}

#Band h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
 
}
.bandContent{
    margin: auto;
    max-width: 800px;
    text-align: justify;

}
.images{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.images img{
    width: 160px;

}
.images{
    text-align: center;
}

/* .images img{
    height: 200px;
    width: 200px;
}
.images p{
    text-align: center;
} */
/* TOUR DATES */
.Tour_dates{
    background-color: black;
    height: 1000px;
    width:100%;
    text-align: center;
}
.Tour_dates h1{
    padding-top: 30px;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 0 !important;
    
}
.Tour_dates h4{
    padding-top: 5px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.box{
    margin: 30px auto;
    height: 150px;
    width: 800px;
    background-color: white;
    margin-bottom: 2%;
    
   
}
.box1, .box2, .box3{
    padding-left:10px;
    border-bottom: 0.3px solid gray;
    height: 50px;
    width: 790px;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: left; /*x axis*/
    align-items: center; /*y axis*/
}

.box1 p{
    
    font-size: 20px;
    color: black;
    margin: 0;
    color: gray;
    text-align: center;
}
.box2 p{
    
    font-size: 20px;
    color: black;
    margin: 0;
    color: gray;
    text-align: center;
}
.box3 p{
    
    font-size: 20px;
    color: black;
    margin: 0;
    color: gray;
    text-align: center;
}
.box1 span{
    
    background-color: red;
    color: white
}
.box2 span{
    background-color: red;
    color: white
}
.box3{
    display: flex;
    justify-content: space-between;
    color: white
    
}
.box3 span{
    
    background-color: black;
    color: white;
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;

}

.available{
    height: 400px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#place{
    height: 450px;
    width: 253px;
    background-color: white;
    font-family: 'Poppins', sans-serif;;
}
#place img{
    height: 180px;
    width: 100%;
}
#place #content{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
#place h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
#place h2{
    color: rgb(101, 80, 80);
    font-weight: 500 ;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
#place button{
    background-color: black;
    padding: 12px;
    color: white;
    font-size: medium;
    border: none;

}

.image{
    background-color: black;
    height: 180px;
    width: 100%;
}
#place a{
    text-decoration: none;
    color: white;
}
#place img:hover{
    opacity: 0.5;
}
#place button:hover{

    background-color: gray;
}
#place button:hover > a{
    color: black;
    background-color: gray;
}


/* CONTACT */

.contact{
    text-align: center;
    height: 300px;

}
.contact h1{
    color: black;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
}
.contact p{
    color: gray;
    font-style: italic;
}
.form{
    color: black;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
}
.form i{
    padding-right: 20px;
    font-size: 20px;
    color: black;
    
}

.form p{
    font-size: 25px;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.dabbas{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.dabba1{
    margin-top: 10px;
    height: 50%;
}
.dabba2{
    height: 50%;
}
.dabba1 input{
    height: 70%;
}
.dabba2 input{
    height: 70%;
    width: 97%;
}
.right{
    float: right;
}
.map_image img{
    width: 100%;
    height: 100%;
}
.icons{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
}
.icons a {
    margin-right: 20px;
    text-decoration: none;
}

.fa-facebook {
    background: gray;
    color: white;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    
    
}
  
.fa-twitter {

color: gray;
}
  

.fa-linkedin {

color: gray;
}

.fa-instagram {
   
    color: gray;
}
#popup{
    background-color: rgba(0, 0, 0, 0.6);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
   
  
}
#popup:target{
    display: block
}

.popup1{
    height: 40%;
    width: 50%;
    background-color: white;
    margin: auto;
    color: black;
    margin-top: 10%;
    position: relative;
}



.up{
    background-color: #009688;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;

}

.close{
    position: absolute;
    right: 0;/* right se duri 0*/
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close a{
    font-size: 30px;
    margin: auto;
    text-decoration: none;
    color: white;
}

.close:hover  {
    background-color: lightgray;
}

.close:hover > a{
    color: black;
}
.ticket{
   margin: auto;
}
.ticket h1{
    text-align: center;
    margin: 0;
    top: 50%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.3px;
    color: white;
}
.close{
    cursor: pointer;
}

.down{

    margin: 2%;
    width: 96%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.down label{
    margin-bottom: 2%;
}
.down input{
    height: 56%;
    margin-bottom: 2%;
}
.submit_ticket{
    background-color: #009688;
    height: 30%;
    border: none;
}

.submit_ticket h3{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.submit_ticket i{
    color: white;
    font-size: 20px;
}
.fa-check:before {
    content: "\f00c";
}
.down button:hover{
    background-color: rgba(0, 0, 0, 0.27);
    color: black;
}
.down button:hover > h3{
    
    color: black;
}
.down button:hover > h3 i{
    
    color: black;
}